* {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  left: 400px;
  position: fixed;
  top: 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

p {
  font-size: 20px;
}

h2 {
  color: rgb(24, 24, 123);
}

li {
  font-size: 20px;
  line-height: 35px;
}

#minha_foto {
  width: 800px;
  margin-top: 150px;
  margin-left: 320px;
}


#tabela {
  background-color: black;
  font-size: 20px;
  margin-left: 150px;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 100px;
  line-height: 50px;
}

#botao {
  background-color: green;
  color: white;
  margin-left: 400px;
  margin-top: 100px;
  padding: 15px;
  border-radius: 10px;
  position: absolute;
}

#botao:hover {
  background-color: rgb(58, 94, 4);
}

.lado-direito {
  width: 900px;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 30px;
  text-align: justify;
  display: inline-block;
}

.lado-esquerdo {
  width: 340px;
  font-size: 25px;
  margin: 20px;
  display: inline-block;
}
