html {
  background-image: url('./images/fundoStarwars.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('./images/Ellipse\ 1.png');
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 500px;
  margin: 0;
  padding-top: 3.7rem;
}

.logo-starwars-title {
  background-image: url('./images/Ellipse\ 1.png');
  background-position-x: 50%;
  background-position-y: 25%;
  background-repeat: no-repeat;
  background-size: 520px;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.table {
  background-color: rgba(73, 63, 163, 0.2);
  font-size: 90%;
  height: 10px;
  margin: 2%;
  padding: 10px;
}

.thead-table {
  background: #2e3035;
  border: 1px solid black;
  border-radius: 0 1px 0 0;
  height: 70px;
  left: 894px;
  top: 1004px;
  width: 356px;
}

.input-filtro {
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 20px;
  height: 42px;
  width: 550px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.formulario {
  align-items: center;
  display: flex;
  font-size: 18px;
  gap: 1rem;
  justify-content: space-evenly;
  margin-top: 15px;
}

.formulario button {
  background-color: rgba(16, 16, 15, 0.8);
  border: none;
  border-radius: 8px;
  color: yellow;
  padding: 15px 30px;
}

.yellow {
  display: flex;
  flex-direction: column;
  width: 30%;
}


fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.filterdiv {
  background-color: rgba(186, 184, 47, 0.396);
  border: 1px solid rgb(226, 234, 10);
  border-radius: 8px;
  display: flex;
  font-size: 20px;
  gap: 10px;
  justify-content: space-around;
  margin: 2% 7%;
  padding: 5px;
  width: 90%;
}

.remover {
  background-color: rgba(16, 16, 15, 0.8);
  border: none;
  border-radius: 8px;
  color: yellow;
  margin-left: 30%;
  padding: 10px 20px;
  width: 40%;

}

/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */
